*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

/* #sheet
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    height: 300px;
    width: 200px;
    /* border: 1px solid black; */
    /* background-color:black

} */ 
#sheet {

    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid black; */

}

#sheet::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid orange;
    position: absolute;
    top: 70px;
    left: -100px;
    /* border: 1px solid black; */

}

#star
{
            width: 0;
            height: 0;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            border-bottom: 200px solid white;
             position: relative;
            margin-top: 20px; 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
}

#star::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid white;
    position: absolute;
    top: 70px;
    left: -100px;
}
#star2 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid green;
    position: relative;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#star2::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid green;
    position: absolute;
    top: 70px;
    left: -100px;
}